/*
//Name: Nathan Byarley
//Project: VFW Week 2
//Term: 1306
*/

html {
	height: 100%;
}

body{
	background-image: -webkit-gradient( /* 1 */
		linear,
		left bottom,
		left top,
		color-stop(0.6, rgb(194,158,129)),
		color-stop(1, rgb(150,116,88))
	);
}

h1 {
	font-family: fantasy;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	text-shadow: 0px 0px 5px #f7da63;
}

img.displayed {
	display: block;
	margin: 0px auto 0px auto;
}

h2 {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;

}

p {
	font-family: sans-serif;
	margin-top: 0px;
	text-align: center;
	
}

a:link {
	color: #a93636;
	text-align: center;
}

a:visited {
	color: #337609;
}


